<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">FeedBook</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://localhost:8080/swagger-ui.html#/" target="_blank">API Docs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <button type="button" class="btn btn-primary btn-lg update-btn" aria-label="left Align" (click)="updateCheck()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true">
        <h4>Update Feeds</h4>
      </span>
    </button>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="updatePossible">
    {{ alertMessage }}
</div>
<div class="loader-div" *ngIf="showSpinner">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>


  

