<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
        <div class="col-md-4">
            <app-feed-one></app-feed-one>   
        </div>
        <div class="col-md-4">
            <app-feed-two></app-feed-two>   
        </div>
        <div class="col-md-4">
            <app-feed-three></app-feed-three>   
        </div>
        <div class="col-md-4">
            <app-feed-four></app-feed-four>   
        </div>
        <div class="col-md-4">
            <app-feed-five></app-feed-five>   
        </div>
    </div>
</div>

 